*{
    margin: 0px;
    padding: 0px;
}

body{
   

}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color:  rgb(255, 255, 191);
     margin: 51px 230px; 
}
nav{
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}
.list li{
    list-style:none;
}
.list ul{
    display: flex;
    gap: 20px 51px;
     font-size: 1.2em;
     margin-top: 10px;
     padding: 10px 10px;

}
.list ul a{
    text-decoration: none;
}
.list button{
    background-color: #FD6E0A;
    border: solid  #FD6E0A;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    
}
.html h2{
    font-size: 45px;
    padding: 10px;
}
.color-orange{
    color: #FD6E0A;

}